@tailwind base;
@tailwind components;
@tailwind utilities;


/* Webkit-based browsers */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
